.agenda-banner-button {
  margin-top: 46px;
  background-color: #242424;
  border: 1px solid #242424;
  color: white;
  font-weight: 700;
  font-size: 30px !important;
  border-radius: 0 !important;
  height: 64px !important;
}
.agenda-modal {
  max-width: 900px;
  .ant-modal-content {
    transition: max-height 1s;
    min-width: 302px;
  }
}

.ant-modal-title {
  font-size: 30px !important;
}
.agenda-modal-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.agenda-modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.agenda-modal-leave {
  opacity: 1;
  transform: translateY(0);
}

.agenda-modal-leave-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

@media screen and (max-width: 600px) {
  .agenda-modal{
    width: 100%;
  }