.gallery-container {
  background-color: #242424;
  justify-content: center;
  padding: 80px 40px 50px 40px;
  display: grid;
  place-items: center;
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
  color: white;

  .gallery-text-container {
    .gallery-title {
      font-style: italic;
      font-weight: 400;
      margin-bottom: 100px;
      font-size: 38px;
    }
  }
}
/* Media query for mobile screens */
@media (max-width: 600px) {
  .gallery-container {
    .gallery-text-container {
      .gallery-title {
        font-size: 28px;
      }
    }
  }
}
