.table-actions {
  display: flex;
  margin-bottom: 15px;
  align-content: center;

  .filters {
    display: flex;
    gap: 30px;

    .ant-row {
      gap: 0px;
    }

    .form-item {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    .form-item.show {
      opacity: 1;
    }

    .ant-picker-range {
      width: 100%;
    }

    .date-picker {
      transition: opacity 0.3s ease-in-out;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
    }

    .date-picker.show {
      visibility: visible;
      opacity: 1;
    }

    .filter-actions {
      display: flex;
      gap: 20px;
      justify-content: center;
      .submit-button {
        min-width: 80px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        margin: auto;
      }
      .submit-button.show {
        margin: 0px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .action-buttons {
    transition: scale 0.3s ease-in-out;

    .filter-button.highlighted {
      outline: solid red;
      color: red;
      box-shadow: 0 0 10px red;
      font-weight: bold;
    }
  }
  .action-buttons.highlighted {
    scale: 1.1;
  }
}

@media screen and (max-width: 768px) {
  .table-actions {
    flex-direction: column;
    margin-bottom: 0px;

    .filters {
      flex-direction: column;
      .table-filters {
        display: none;
      }
      .table-filters.show {
        display: flex;
      }

      .submit-button {
        display: none;
        text-align: center;
        justify-content: center;
      }
      .submit-button.show {
        display: flex;
      }
      .filter-actions.show {
        margin-bottom: 20px;
      }
    }
    .filters.show {
      display: flex;
    }
    .action-buttons {
      display: flex;
      justify-content: center;
    }
  }
}
