.client-content {
  min-height: 260px;
}
.client-form-container {
  justify-content: center;
  .client-fields-container {
    padding: 0px 30px 0px 30px;
    .ant-form-item-explain-error {
      max-width: 179px;
      margin: auto;
    }
  }
}

.client-info-title {
  font-size: 26px;
  font-weight: 500;
  color: #242424;
  padding: 0px 10px;
}
.logo-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  .logo {
    max-width: 200px;
    object-fit: contain;
    width: 100%;
  }
}

.client-info-description {
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 50px;
  padding: 0px 10px;
}
.client-form-col-2 {
  /* margin-left: 10px; */
}
/* Media query for mobile screens */
@media (max-width: 600px) {
  .client-form-col-2 {
    margin-left: 0px;
  }
}
