.services-container {
  display: grid;
  /* justify-content: center; */
  padding: 50px 50px 50px 50px;
  overflow: hidden;

  .services-title {
    font-size: 38px;
    text-align: center;
  }
}

.services-one-column {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 500px;
  overflow: scroll;
  margin: auto;
}

.services-one-column::before,
.services-one-column::after {
  content: "";
  height: 40px;
  background: linear-gradient(to bottom, transparent, #f5f5f5);
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.services-one-column::before {
  top: calc(100vh + 525px);
  z-index: 500;
}

.services-one-column::after {
  bottom: 20;
  transform: scaleY(-1);
}

.logo-slider-container {
  padding-top: 50px;
  .logo-slider-title {
    font-size: 38px;
  }
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  .services-container {
    .services-title {
      font-size: 28px;
    }
  }
  .logo-slider-container {
    padding-top: 0px;
    .logo-slider-title {
      font-size: 28px;
      margin-bottom: 60px;
    }
    padding: 0px;
  }
  .services-one-column::before {
    top: calc(100vh + 495px);
  }
}

@media (max-width: 310px) {
  .services-one-column::before {
    top: calc(100vh + 525px);
  }
}
