.carousel-container {
  width: 70vw;
  max-width: 1000px;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.gallery-image {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
}

.gallery-image:hover {
  --brightness: 1.15;
  --grayscale: 0;
  flex: var(--magnifier);
}

.extra-row {
  margin-top: 1vmin;
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}