.sticky-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #242424; /* Adjust background color as needed */
  transition: background-color 1 ease;
}
.ghost-navbar {
  background-color: #0d0d0c;
  transition: background-color 1 ease;
  width: 100%;
  .ant-menu {
    background-color: #0d0d0c !important;
    transition: background-color 1 ease;
  }
}
.landing-container {
  overflow-x: hidden;
}
