html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}

.app {
  color: #333333;
}

.dateRangePicker .ant-picker-panel:nth-child(2){
    display: none;
  }

  .dateRangePicker .ant-picker-panel:nth-child(1) button{
    visibility: visible !important;
  }