@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}
