/* @import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;