.ant-menu-item.ant-menu-item-selected {
  background-color: "red";
}
.ant-layout-sider-dark {
  background-color: red;
}

aside {
  background-color: #242424 !important;
}
.operations-layout{
  width: 100vw;
}