.ant-menu-item.ant-menu-item-selected {
  background-color: "red";
}
.ant-layout-sider-dark {
  background-color: red;
}

aside {
  background-color: #242424 !important;
}
.operations-layout {
  width: 100vw;
}
.main-layout-header {
  padding: 0px calc((100vw - 1800px) / 2);
}
.main-layout-content {
  margin: 24px 12px;
  max-width: 1800px;
  width: calc(100% - 26px);
  margin: 12px auto;
}

@media screen and (max-width: 600px) {
  .main-layout-content {
    margin: 24px 12px;
  }
  .main-layout-header {
    padding: 0px 12px;
  }
}
