.car-content {
  min-height: 260px;
}
.car-form-container {
  justify-content: center;
  .car-fields-container {
    padding: 0px 30px 0px 30px;
  }
}

.car-info-description {
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 50px;
  padding: 0px 10px;
}

.car-info-title {
  font-size: 26px;
  font-weight: 500;
}
.form-item-explain {
  display: flex;
  gap: 10px;

  .form-item-explain-info-icon {
    color: #0053ff;
  }
}
.vin-explain-content {
  word-wrap: break-word;
  max-width: 150px;
}
.uppercase-input {
  .ant-input {
    text-transform: uppercase;
  }
}

.ant-select-selection-item {
  display: flex;
}
