.single-car-container {
  padding: 0px 0px 68px 12px;
  .single-car-content {
    .single-car-title {
      font-size: 26px;
      margin-top: 50px;
      margin-bottom: 10px;
    }
    .car-form{
      border-radius: 8px;
      max-width: 600px;
      background-color: #F5F5F5;

      .car-fields-container {
        padding: 20px;
      }
    }
   
    .ant-form-item-label > label {
      font-weight: 500;
    }
}
